---
Language: Cpp
BasedOnStyle: WebKit

AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignTrailingComments: true
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveDeclarations: AcrossEmptyLinesAndComments
AlwaysBreakAfterDefinitionReturnType: TopLevel
PointerAlignment: Left
QualifierAlignment: Left
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Allman
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyNamespace: false

IndentExternBlock: NoIndent
IndentPPDirectives: None
IndentWrappedFunctionNames: false

SpaceBeforeParens: ControlStatements

AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty

ColumnLimit: 80
IndentWidth: 4
TabWidth: 4
UseTab: Never
